* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
#user-pic {
    width: 100px;
    height: auto;
}

/* Style inputs */
input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#main {
    display: flex;
    justify-content: center;
}
.center {
    background-color: rgb(58, 9, 233);
    min-height: 50%;
    width: 35%;
    padding: 20px;
}
li {
    padding-top: 5px;
}

button {
    background-color: black;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
}
input[type="text"] {
    color: #000;
}
.detail {
    display: inline-block;
    min-height: 100px;
    min-width: 125px;
}

div.detail-container {
    display: flex;
}
h2.form-name {
    margin: 10px 0 10px 0;
}
textarea {
    width: 100%;
    overflow: hidden;
    color: #000;
}
#by {
    font-style: italic;
    margin: 5px 0;
}
.flashes {
    color: red;
    background-color: orange;
    font-size: large;
    font-weight: bold;
}
.post-tags {
    background-color: orange;
    color: #000;
    font-style: italic;
    padding: 2px 4px 2px 4px;
}
#tags-title {
    display: inline;
}
