{% extends "base.html" %}
<!-- replacement block "title" -->
{% block title %}
<title>User Detaik</title>
{% endblock %}
<!-- replacement block "content" -->
{% block content%}
<h1>User Detail Page</h1>
<div class="detail">
    <img src="{{user.image_url}}" id="user-pic" alt="avatar" />
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <a href="/edit"><button type="button">Edit</button></a>
    <a href="/users/{{user.id}}/delete"
        ><button type="button">Delete</button></a
    >
</div>
{% endblock %}
