{% extends "base.html" %}
<!-- replacement block "title" -->
{% block title %}
<title>Post</title>
{% endblock %}
<!-- replacement block "content" -->
{% block content%}
<h2 class="form-name">{{post.title}}</h2>
<p>{{post.content}}</p>
<p id="by">By: {{post.user_prox.full_name}} on {{post.friendly_date}}</p>

<div class="tagsonpost">
    <h4 id="tags-title">Tags:</h4>
    {% for tag in tags%}
    <button class="post-tags">{{tag.name}}</button>
    {% endfor%}
</div>

<div id="edit-btns">
    <a href="/users/{{post.user_prox.id}}"
        ><button type="button">Cancel</button></a
    >
    <a href="/posts/{{post.id}}/edit"><button type="button">Edit</button></a>
    <a href="/posts/{{post.id}}/delete"
        ><button type="button">Delete</button></a
    >
</div>

{% endblock %}
