{% extends "base.html" %}
<!-- replacement block "title" -->
{% block title %}
<title>User Detail</title>
{% endblock %}
<!-- replacement block "content" -->
{% block content%}
<h2 class="form-name">User Detail Page</h2>
<div class="detail-container">
    <div class="detail">
        <img src="{{user.image_url}}" id="user-pic" alt="avatar" />
    </div>
    <div class="detail">
        <h2 id="detail-name">{{user.full_name}}</h2>
        <div id="edit-btns">
            <a href="/users/{{user.id}}/edit"
                ><button type="button">Edit</button></a
            >
            <a href="/users/{{user.id}}/delete"
                ><button type="button">Delete</button></a
            >
        </div>
        <div id="detail-posts">
            <h3>Posts</h3>
            <ul>
                {% for post in user.post_prox%}
                <a href="/posts/{{user.id}}"><li>{{post.title}}</li></a>
                {% endfor%}
            </ul>
            <a href="/users/{{user.id}}/posts/new"
                ><button type="button">Add Post</button></a
            >
        </div>
    </div>
</div>
{% endblock %}
