{% extends "base.html" %} {% block title %}
<title>Edit Post</title>
{% endblock %} {% block content%}
<div id="edit-post-form">
    <h2 class="form-name">Edit Post</h2>
    <form action="#" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{post.title}}" />
        <label for="content">Post Content</label>
        <input
            type="text"
            name="content"
            id="content"
            value="{{post.content}}"
        />
        <button type="submit">Save</button>
        <a href="/posts/{{post.id}}"><button type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}
